@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Oswald:wght@200&family=Roboto:wght@100&display=swap');

body {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background: linear-gradient(
        to right,
        #FFD24D 0%,
        #FFD24D 30%,
        #FFB020 60%,
        #FFB020 80%,
        #ffffff 80%,
        #ffffff 100%
    );
}

#logo img{
    width: 55%;
    height: 60%;
    margin-top: 20%;
    margin-left: 30%;
}

#signInForm {
    background-color: #ffffff;
    border-radius: 10px;
    min-width: 30%;
    width: 30%;
    height: 340px;
    float: right;
    margin-top: 10%;
    margin-right: 8%;
    color: #051226;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#signInForm h1 {
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#signInForm input {
    width: 66%;
    border-radius: 8px;
    border-width: 2px;
    border-color: #14131332;
    padding: 5px 0 5px 0;
    margin: 5px;
    margin-left: 15%;
    outline-style: none;
    text-align: center; 
}

#emailInput::placeholder {
    background-image: url("img/email.png"); 
    background-repeat: no-repeat;
    background-position: .5rem center;
    background-size: 15px 15px;
    width: 80%;
}

#passwordInput::placeholder {
    background-image: url("img/password.png"); 
    background-repeat: no-repeat;
    background-position: .5rem center;
    background-size: 15px 15px;
    width: 64%;
}

#signInForm button {
    border-style: hidden;
    border-radius: 5px;
    font-weight: 550;
    font-size: 15px;
    width: 70%;
    margin-top: 3%;
    margin-left: 15%;
    padding: 5px;
    background: linear-gradient(
        to right,
        #FFD24D 0%,
        #FFD24D 50%,
        #FFB020 80%,
        #FFB020 100%
    );
    
}

#signInForm a {
    text-decoration: none;
    color: #FFD24D;
}

p {
    text-align: center;
    font-size: 10px;
    padding: 1px 0 40px 0;
}

@media (max-width: 993px) { 
    #logo img{
        width: 65%;
        height: 35%;
        margin-top: 70%;
    }

    #signInForm {
        margin-top: 25%;
    }

    #signInForm input {
        font-size: 8px;
        padding: 5px 0 5px 0;
    }

    #signInForm input::placeholder {
        background-size: 10px 10px;
        width: 120%;
    }

    #signInForm button {
        font-size: 10px;       
    }
}

@media (max-width: 430px) { 
    body {
        display: block;
        background: linear-gradient(
            to right,
            #FFD24D 0%,
            #FFD24D 10%,
            #FFB020 40%,
            #FFB020 60%,
            #ffffff 60%,
            #ffffff 100%
        );
    }

    #logo img{
        width: 80%;
        height: 30%;
        margin-top: 20%;
        margin-right: 0;
        margin-left: 10%;
    }

    /* #signInForm {
        width: 94%;
        height: 30%;
        margin-top: 20%;
        margin-right: 3%;
        margin-left: 3%;
    } */

    #signInForm h1 {
        display: none
    }
}